@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
    --primary: #2F00FF;
    --lightprimary: #522BFF;
    --dark: #302E3A;
    --light: #F5F3FF;
}

body {
    background: var(--primary);
    justify-content: center;
    font-family: "Gabarito";
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#sticky-menu {
    position: fixed;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 600px;
    height: 75px;
    border-radius: 100px;
}
#sticky-menu-top, #sticky-menu-about, #sticky-menu-portfolio, #sticky-menu-contact {
    color: var(--primary);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
}
#sticky-menu-top:hover, #sticky-menu-about:hover, #sticky-menu-portfolio:hover, #sticky-menu-contact:hover {
    background: var(--primary);
    color: white;
    cursor: pointer;
}

.graphic {
    width: 350px;
    height: auto;
    position: absolute;
    z-index: 0;
}

.large-text {
    font-size: 25px;
    font-family: "Gabarito";
    font-weight: 500;
    color: var(--dark);
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.title-text {
    font-size: 150px;
    font-weight: 700;
    line-height: 90px;
    position: relative;
    z-index: 1;
    color: var(--dark);
}

.header-text {
    color: var(--dark);
    font-size: 75px;
    font-weight: 600;
    font-family: "Gabarito";
}

.text {
    font-size: 18px;
    font-family: "Gabarito";
    color: var(--dark);
    line-height: 25px;
}

.button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Gabarito";
    border: 2px solid var(--primary);
    color: var(--primary);
    background: none;
}
@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .title-text {
        font-size: 175px;
        line-height: 120px;
    }
    .large-text {
        font-size: 75px;
    }
    .text {
        font-size: 50px;
        line-height: 60px;
    }
    .button {
        width: 600px;
        height: 150px;
        font-size: 50px;
    }

    #sticky-menu {
        height: 150px;
        width: 100%;
        margin: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
    }
    #sticky-menu-top, #sticky-menu-about, #sticky-menu-portfolio, #sticky-menu-contact {
        font-size: 60px;
        margin-left: 30px;
        margin-right: 30px;
    }
}